<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TikTok</title>
    </head>
    <body>
        Novo funcionário
        <form action="/funcionario/novo" method="POST">
            <span>
                Nome: <input name="nome" required type="text">
            </span>
            <span>
                Data de nascimento: <input name="dataDeNascimento" required type="date">
            </span>
            <button type="submit">Criar</button>
        </form>
    </body>
</html>
